*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  overflow: hidden;
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  inline-size: 1200px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  min-block-size: 100vh;
}

.content {
  /*margin-top: 133px;*/
 /* margin-bottom: 110px;*/
  display: flex;
  padding: 0;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
}

.result {
  inline-size: 711px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  max-inline-size: 212px;
  margin-bottom: 5px;
}

.search-form__label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 225px;
  background-color: transparent;
  appearance: none;
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*.search-form__checkbox {
  position: absolute;
  z-index: 2;
}*/

/*.search-form__checkbox:focus {
  outline: none;
}*/

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  position: relative;
  z-index: 0;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
  box-sizing: border-box;
  pointer-events: none;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #ffffff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  inline-size: 100%;
  min-block-size: 34px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.search-form__submit-button {
  inline-size: 194px;
  block-size: 34px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 26px;
  flex-grow: 1;
  block-size: 100%;
  inline-size: 100%;
}

.title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  color: #ffffff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  width: 390px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  block-size: 298px;
  overflow-y: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 2px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: flex;
  gap: 6px;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  min-inline-size: 0;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  flex: 0 0 194px;
  object-fit: cover;
  object-position: center;
  display: block;
  flex-shrink: 0;
}
